.main_div {
    width: 90%;
    padding-left: 100px;
    padding-right: 100px;
    margin: 5px auto;
    justify-content: center;
}
body{
    background-color:#f0efeb;
}
.Rarrow-image {
    height: 90px;
    width: 110px;
    background-image: url('../images/btns.png');
    background-size: cover;
    background-position: center;
    transform: scale(-1, 1);
    opacity: 0.5;
    transition: 1s;
}
.Rarrow-image:hover{
    opacity: 1;

}
.Larrow-image:hover {
    opacity: 1;
}
.arrow:hover {
    opacity: 0.5;
    box-shadow: 0px 0px 500px gray;

}
.arrow {
    height: 100px;
    width: 100px;
    font-size: 30px;
    background: radial-gradient(#474b4e, #2c333a);
    opacity: 0.5;
    transition: 1s;
    border-radius: 50px;
}
.Larrow-image {
    height: 90px;
    width: 110px;
    background-image: url('../images/btns.png');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0);
    opacity: 0.5;
    transition: 1s;
}
.item_images {

    display: flex;
    background-size: auto;
    background-position: left ;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;

}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    border: 0px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px black;

}

.slider {
    display: flex;
    overflow: hidden;
    margin: 0 10px;
}

.items {

    width: 400px;
    height: 400px;
    position: relative;
    color: #444;
    font-size: 30px;
    margin: 0 auto;
    border: 0px solid #444;
    overflow: hidden;
}

.item {

    border: 0px solid none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: center;
    width: 400px;
    max-height: 200px;
    position: absolute;
    transition: all ease 1s;
    top: 15%;
    color: white;
}


.wrappergrid {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

}

.col {
    height: 200px;
    border: 1px groove black;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 0px 5px black;
    background-color: #343a40;
    color: white;
}
.gridimages{
    background-color: black;

}
.col:hover{
    transform: scale(1.05);
    
}/*Adding @media for adaptive site*/
@media screen and (max-width: 700px) {
	.main_div {
        display:none;
	}
}