{% extends "app/Layout/layout.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style/StyleForCreating.css' %}" />
{% endblock %}

{% block content %}
 <div class = "main_div">
    <form method = "post">
        {%csrf_token%}
        <h3> Добавление резюме </h3>
            {% for elem in form %}
            {{elem.label_tag}}
            {{elem}}
            {% endfor %}
        <span>{{error}}</span>
        <button class = "btn btn-success" type = "submit"> Добавить запись</button>
    </form>
 </div>
{% endblock %}

{% block scripts %}


{% endblock %}