{% extends "app/Layout/layout.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="../static/app/style/MainStyle.css" />
{% endblock %}

{% block content %}

<ul class="carousel">
    {% for el in vacancies%}
        <li class="carousel__item">
            <a href="{% url 'vacancy' id_vacancy=el.id %}"><div class="carousel__item-wrapper">
                <h4>{{el.title}}</h4>
                <h5>{{el.salary}}</h5></div>
                <img class="gridimages" type="image" src = "{{el.Imagesrs}}"/>
            </a>
        </li>
        {% endfor %}

    <div class="carousel__controls">
  <button class="carousel__controls--left">&#8618;</button>
  <button class="carousel__controls--right">&#8617;</button>
</div>
</ul>

 {#grid#}

<div id="info-resume__container" class="wrappergrid">
    {% for el in vacancies %}
    <a href="{% url 'vacancy' id_vacancy=el.id %}">
        <div class="col">
            <h4>{{el.title}}</h4>
            <p>{{el.salary}}</p>
            <img class="gridimages" src="{{el.Imagesrs}}">
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app/scripts/ScriptForSlider.js' %}"></script>
    <script>
        $(document).ready(function() {
            setInterval(function() {
                $.ajax({
                    type: "GET",
                    url: "{% url 'main' %}",
                    dataType: 'json',
                    success: (response) => {
                        $("#info-resume__container").empty();
                        for (var key in response.vacancy) {
                            var container = "<a href='/vacancy/" + response.vacancy[key].id + "'>";
                            container += "<div class='col'>";
                            container += "<h4>" + response.vacancy[key].title + "</h4>";
                            container += "<p>" + response.vacancy[key].salary + "</p>";
                            container += "<img class='gridimages' src='" + response.vacancy[key].Imagesrs + "'>";
                            container += "</div>";
                            container += "</a>";
                            $("#info-resume__container").append(container);
                        }
                    },
                    error: (response) => {
                        alert("Error")
                    }
                });
            }, 50000);
        });
    </script>

{% endblock scripts %}