{% extends "app/Layout/layout.html"%}

{% block style%}
<link rel="stylesheet" type="text/css" href="/static/app/style/StyleForVacancy.css">
{% endblock %}

{% block content%}
<div class="container vacancy-site__container ml-4">
    <!--- This information row for title of job --->
    {% for el in vacancies%}
        <div class="row d-block">
        <div class="col-6">
            <h2 class="title-vacancy text-dark">{{el.title}}</h2>
        </div>
        <div class="col-6">
            <h5 class="title-vacancy text-dark">{{el.salary}}</h5>
        </div>
        <!--- This information row include name company and logo --->
        <div class="row vacancy-company__container mt-3">
            <div class="col-3 vacancy-company__title ml-4">
                <h5 class="title-vacancy text-secondary">Email addres: {{el.email}}</h5></br>
                <h5 class="title-vacancy text-secondary">Phonenumber: {{el.Telephonenumber}}</h5>
                <h5 class="title-vacancy text-secondary">Date: {{el.date}}</h5>
            </div>
            <div class="col company-icon__container">
                <a href="#">
                    <div class="company-icon__background"></div>
                </a>
            </div>
        </div>
        <!--- --->
        <!--- This row include text about company and conditions --->
        <div class="row">
            <div class="container vacancy-maininfo__container">
                <div class="info-about__company mt-2">
                    <p class="text-center" >{{el.text}}</p>
                </div>

            </div>
        </div>
        </div>
    {% endfor %}
</div>
{%endblock%}